html {
    background-color: rgb(0, 76, 139);
}

.square-list {
    list-style-type: square;
}

.upper-letter {
    list-style-type: upper-alpha;
}

.nav {
    list-style-type: none;
    background-color: crimson;
    padding: 30px;
    margin-bottom: 100px;
}